@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  .scale-up-center {
  -webkit-animation: scale-up-center 2s ease-in-out infinite alternate backwards;
    animation: scale-up-center 2s ease-in-out infinite alternate backwards;
  }