* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/* head */

header {
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    border: 2px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    z-index: 3;
}

.headerMenu {
    display: flex;
    z-index: 3;
}
.buttonMenu {
    color: white;
    font-family: Manrope;
    font-weight: 400;
}

.buttonHeader {
    color: white;
    font-family: Manrope;
    font-weight: 700;
    border: 1px solid #8257E5;
    border-radius: 7px;

    z-index: 3;
}

/* body */

body {
    background-color: black;
    overflow-x: hidden;
}

.textContainer {
    border: 1px solid darkmagenta;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-family: Manrope;
    font-weight: 700;
    color: white;
}

.texto {
    color: black;
    text-shadow:
       1px 1px 0 #8257E5,
     -1px -1px 0 #8257E5,  
      1px -1px 0 #8257E5,
      -1px 1px 0 #8257E5,
       1px 1px 0 #8257E5;
}

.imageBlurTop {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
}

.imageBlurBottom {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.imageCoffee {
    border: 2px solid orangered;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
}

@media (max-width: 2560px){
    header {
        width: 100vw;
        height: 20vh;
    }

    nav {
        height: 50%;
        width: 95vw;
        gap: 6rem;
    }

    .logo {
        height: 8em;
        max-width: 8em;
    }

    .headerMenu {
        gap: 7em;
    }

    .buttonMenu {
        font-size: 2em;
    }

    .buttonHeader {
        padding: 0.5em 3.5em;
        font-size: 2em;
    }

    .textContainer {
        padding: 0.1em;
        font-size: 7.5em;
    }

    .text {
        font-size: 1em;
    }

    .imageCoffee {
        max-height: 55%;

    }
}

@media (max-width: 1920px){
    header {
        width: 100vw;
        height: 20vh;
    }

    nav {
        height: 50%;
        width: 95vw;
        gap: 4rem;
    }

    .logonav {
        margin-right: 50px;
    }

    .logo {
        height: 6em;
        max-width: 6em;
    }

    .headerMenu {
        gap: 5em;
    }

    .buttonMenu {
        font-size: 1.7em;
    }

    .buttonHeader {
        padding: 0.4em 3em;
        font-size: 1.7em;
    }

    .textContainer {
        padding: 0.1em;
        font-size: 5.6em;
    }

    .text {
        font-size: 1em;
    }

    .imageCoffee {
        max-height: 55%;
    }
}

@media (max-width: 1600px){
    header {
        width: 100vw;
        height: 20vh;
    }

    nav {
        height: 50%;
        width: 95vw;
        gap: 3rem;
    }

    .logodiv {
        margin-right: 50px;
    }

    .logo {
        height: 5em;
        max-width: 5em;
    }

    .headerMenu {
        gap: 5em;
    }

    .buttonMenu {
        font-size: 1.4em;
    }

    .buttonHeader {
        padding: 0.4em 3em;
        font-size: 1.4em;
    }

    .textContainer {
        padding: 0.1em;
        font-size: 4.7em;
    }

    .text {
        font-size: 1em;
    }

    .imageCoffee {
        max-height: 55%;
    }
}

@media (max-width: 1366px){
  
}

@media (max-width: 1280px){
  
}

@media (max-width: 768px){
    nav {
        display: none;
    }    

    .text {
        font-size: 50px;
    }

    .imageCoffee {
        max-height: 40%;

    }

}

@media (max-width: 576px){

    
}
