header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.logoMDiv {
    display: none;
}

.divTextMobile {
    display: none;
}

.textMobile {
    display: none;
}

.buttonMain {
    display: none;
}

.buttomMobile {
    display: none;
}

.logo {
    z-index: 3;
    margin-right: 140px;
}

.headerMenu {
    display: flex;
    z-index: 3;
    gap: 32px;
}

.buttonMenu {
    color: white;
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
}

.buttonHeader {
    color: white;
    font-family: Manrope;
    font-weight: 700;
    font-size: 11px;
    border: 1px solid #8257E5;
    border-radius: 7px;
    height: 37px;
    width: 172px;

    z-index: 3;

    margin-left: 130px;
}

/* body */

body {
    background-color: black;
    overflow-x: hidden;
}

.textContainer {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
}

.text {
    font-family: Manrope;
    font-weight: 700;
    color: white;
    font-size: 70px;
}

.texto {
    color: black;
    text-shadow:
       1px 1px 0 #8257E5,
     -1px -1px 0 #8257E5,  
      1px -1px 0 #8257E5,
      -1px 1px 0 #8257E5,
       1px 1px 0 #8257E5;
}

.imageBlurTop {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
}

.imageBlurBottom {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.imageCoffeeContainer {
    /* border: 2px solid purple; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 55vh;
    /* flex-grow: 1; */
}

.imageCoffee {
    /* border: 2px solid yellow; */
    object-fit: contain;
    height: 100%;
    width: auto;
    position: relative;
}

.imageBlurMobile {
    display: none;
}

@media (max-width: 997px){
    nav {
        display: none;
    }

    header {
        /* border: 2px solid red; */
        height: 90px;
        align-items: center;
        justify-content: space-between;
    }

    .logodiv {
        display: none;
    }

    .logoMDiv {
        display: flex;
        margin-left: 20px;
        height: 45%;
        /* border: 2px solid blue; */
    }

    .divTextMobile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;
        /* border: 2px solid yellow; */
        padding: 0 30%;
    }

    .textMobile {
        /* border: 2px solid darkorchid; */
        display: block;
        text-align: center;
        min-width: 360px;
        max-width: 360px;
        color: white;
        font-family: Manrope;
        font-weight: 800px;
        font-size: 30px;
        
    }

    .imageBlurTop {
        display: none;
    }

    .imageBlurBottom {
        display: none;
    }

    .text {
        font-size: 50px;
    }

    .buttonMain {
        /* border: 2px solid green; */
        height: 20vh;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .buttonMobile {
        display: block;
        color: white;
        font-family: Manrope;
        font-weight: 700;
        font-size: 11px;
        border: 1px solid #8257E5;
        border-radius: 7px;
        height: 37px;
        width: 172px;
    }

    .imageCoffeeContainer {
        border: 2px solid green;
        width: 100vw;
        justify-content: center;
    }

    .imageCoffee {
        border: 2px solid red;
        width: 100%;
    }

    .imageBlurMobile {
        display: block;
        position: absolute;
        width: 100vw;
    }

}

@media (max-width: 768px){
    .textContainer {
        margin-bottom: 10vh;
    }

    .imageCoffeeContainer {
        height: auto;
    }

    .imageCoffee {
        
    }
}