* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* header */

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: black;
}

body {
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 221px;

    width: 980px;
    height: 50px;
    /* border: 2px solid red; */
}

.buttonCoffee {
    background-color: black;
    border: 2px solid #8257E5;
    color: white;
    font-family: Manrope;
    font-weight: 400;
    padding: 11px 38px;
    border-radius: 6px;
}

.buttonMenu {
    border: none;
    background-color: black;
    color: white;
    font-family: Manrope;
    font-weight: 700;
    font-size: 11;
}

/* body */

.headerMenu {
    display: flex;
    margin-left: 10px;
    gap: 60px;
}

.textos {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    font-family: Manrope;
    font-weight: 700;
    font-size: 30px;
    color: white;
}

.texto {
    font-size: 60px;
    font-weight: 800;
    color: black;
    text-shadow:
       1px 1px 0 #8257E5,
     -1px -1px 0 #8257E5,  
      1px -1px 0 #8257E5,
      -1px 1px 0 #8257E5,
       1px 1px 0 #8257E5;
    /* text-shadow: -1px -3px #8257E5; */
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: #8257E5;  */
    /* -webkit-text-fill-color: black */
}

.assetsBlurTop {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.assetsBlurBot {
    position: absolute;
    bottom: 0;
    left: 0;
}

.containerImgCoffee {
    display: flex;
    justify-content: center;
}

.imgCoffee {
    height: 330px;
    width: 700px;
}